<div class="xbw-options" layout="column" layout-fill flex>

    <md-tabs md-border-bottom layout-fill flex md-selected="0">
        <md-tab label="SETTINGS">
            <span ng-include="'app/views/options/settings/settings.tpl.html'"></span>
        </md-tab>
        <md-tab label="EXTRA">
            <span ng-include="'app/views/options/extra/extra.tpl.html'"></span>
        </md-tab>
        <md-tab label="ABOUT">
            <span ng-include="'app/views/options/about/about.tpl.html'"></span>
        </md-tab>
    </md-tabs>

</div>
