<div class="xbw-dvdmenu">
    <!--<nav>
        <a class="dv-prev" ng-show="previousMenu" ui-sref="dvdmenu.view({ index:currentMenuIndex-1 })">
            <span>
                <svg width="32" height="32" viewBox="0 0 64 64">
                    <path d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z" />
                </svg>
            </span>
            <div>
                <h3>{{ previousMenu.title }}<span>{{ previousMenu.copyright }}</span></h3>
            </div>
        </a>
        <a class="dv-next" ng-show="nextMenu" ui-sref="dvdmenu.view({ index:currentMenuIndex+1 })">
            <span>
                <svg width="32" height="32" viewBox="0 0 64 64">
                    <path d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z" />
                </svg>
            </span>
            <div>
                <h3>{{ nextMenu.title }}<span>{{ nextMenu.copyright }}</span></h3>
            </div>
        </a>
    </nav>
    <h2>{{ currentMenu.title }}</h2>-->
</div>
