<div class="xbw-template drag" layout="column" flex>

    <md-toolbar class="template-toolbar md-whiteframe-3dp">
        <div class="md-toolbar-tools" flex>

            <div class="left" layout="row" layout-align="end center" layout-fill>
                <!--<win-btns></win-btns>-->
                <a ng-href="#/">
                    <img src="assets/images/xbw.png"/>
                </a>
            </div>

            <div class="right md-toolbar-item" layout="row" layout-align="start center" layout-fill flex>
                <md-button class="md-icon-button"
                           md-ink-ripple="#3F51B5"
                           aria-label="home"
                           ui-sref-active="active"
                           ui-sref="dvdmenu">
                    <md-icon ng-md-icon icon="home"></md-icon>
                </md-button>

                <md-button class="md-icon-button"
                           md-ink-ripple="#3F51B5"
                           aria-label="games"
                           ui-sref-active="active"
                           ui-sref="games">
                    <md-icon ng-md-icon icon="dashboard"></md-icon>
                </md-button>

                <md-button class="md-icon-button"
                           md-ink-ripple="#3F51B5"
                           aria-label="options"
                           ui-sref-active="active"
                           ui-sref="options">
                    <md-icon ng-md-icon icon="settings"></md-icon>
                </md-button>

                <span flex></span>

                <md-button class="md-icon-button paypal"
                           aria-label="Contribute"
                           target="_blank"
                           ng-click="templateCtrl.openPaypal()">
                    <md-tooltip md-autohide>Contribute</md-tooltip>
                    <md-icon md-svg-src="assets/icons/paypal.svg"></md-icon>
                </md-button>

				<md-button class="md-icon-button github"
                           aria-label="View Source on Github"
                           target="_blank"
                           ng-click="templateCtrl.openGithub()">
                   <md-tooltip md-autohide>View on Github</md-tooltip>
                   <md-icon ng-md-icon icon="github-circle"></md-icon>
                </md-button>
            </div>

        </div>
    </md-toolbar>

    <md-content ui-view="content" layout="column" class="no-drag" layout-fill flex></md-content>

</div>
