<div id="gallery"
	 class="xbw-games"
	 ng-class="{ 'fab-toolbar-open':gamesCtrl.toolbarIsOpen, 'normal':!dvdmenuEnable, 'dvdmenu':dvdmenuEnable }"
	 layout="column"
	 layout-fill
	 flex>

	<link rel="stylesheet" type="text/css" ng-href="{{ gamesCtrl.themes.current.layoutPath }}" />

	<md-fab-speed-dial ng-if="!gamesCtrl.selectModeActive" class="md-fling" md-direction="left" md-open="true">
		<md-fab-trigger>
             <md-button aria-label="menu" class="md-fab md-accent">
                 <md-icon ng-md-icon icon="menu" size="20px"></md-icon>
             </md-button>
        </md-fab-trigger>
    	<md-fab-actions>

			<md-button class="md-fab md-raised md-mini"
					   aria-label="Verify with abgx360"
					   title="Verify with abgx360"
					   ng-click="gamesCtrl.showAbgxToast()">
				<md-icon md-svg-src="assets/icons/abgx.svg"></md-icon>
			</md-button>

			<!--<md-button aria-label="favorite" class="md-fab md-raised md-mini">
				<md-icon ng-md-icon icon="favorite"></md-icon>
			</md-button>-->

			<!--<md-button class="md-fab md-raised md-mini"
					   aria-label="Zoom in"
					   ng-click="gamesCtrl.zoomIn()">
				<md-icon md-svg-src="assets/icons/zoom_in.svg"></md-icon>
			</md-button>-->

			<md-button class="md-fab md-raised md-mini"
					   aria-label="Zoom"
					   ng-click="gamesCtrl.zoom()">
			   <md-icon ng-md-icon icon="apps"></md-icon>
			</md-button>

        </md-fab-actions>
	</md-fab-speed-dial>

	<md-switch ng-model="dvdmenuEnable" aria-label="Dvdmenu" ng-init="dvdmenuEnable=true">
    	dvd-menu
  	</md-switch>

    <md-content layout="column" layout-fill flex>

		<!-- NORMAL INTERFACE -->
        <section ng-repeat="group in gamesCtrl.games.filteredItems" ng-if="!dvdmenuEnable">
            <md-subheader class="category" ng-if="!(gamesCtrl.games.config.groupBy.key === 'none')">
				{{ group.$label }}
            </md-subheader>

            <md-grid-list md-cols="{{ gamesCtrl.mdCols }}" md-row-height="219:300" md-gutter="10px">
                <md-grid-tile ng-repeat="item in group"
							  ng-click="gamesCtrl.showDetails(item, $event)"
							  ng-class="{ 'select-mode':gamesCtrl.selectModeActive }">
					<game ng-model="item" select-mode="gamesCtrl.selectModeActive"></game>
                </md-grid-tile>
            </md-grid-list>
        </section>

		<!-- DVDMENU INTERFACE -->
		<dvd-menu ng-if="dvdmenuEnable"
				  theme="gamesCtrl.themes.current">
		</dvd-menu>

    </md-content>
</div>
