<!--<md-bottom-sheet class="md-has-header abgx-console">-->
<md-bottom-sheet class="abgx-console">

    <!--<md-subheader>
        <div layout="row">
            <span flex class="title">ABGX360</span>
            <md-progress-circular ng-if="abgxConsoleCtrl.isLoading" md-diameter="20px" md-mode="indeterminate" class="md-accent"></md-progress-circular>
            <md-button ng-if="!abgxConsoleCtrl.isLoading" class="md-icon-button md-accent btn-close" aria-label="Close" ng-click="abgxConsoleCtrl.hide()">
                OK
            </md-button>
        </div>
    </md-subheader>-->
    <iframe id="iframe" width="100%" height="400px" src="" nwdisable></iframe>

</md-bottom-sheet>
